.column {
    width: 70%;
}

.delete-btn {
    padding: 5px;
    width: 50px;
    margin-left: 5px;
    background-color: darkred;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.delete-btn:hover {
    background-color: #620000;
}

.view-btn {
    width: 50px;
    padding: 5px;
}

.title {
    margin: 0;
    padding: 20px 0;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.title:hover {
    text-decoration: underline;
}

