.links-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.link-block {
    width: 30%;
    margin-bottom: 15px;
}

.link {
    color: black;
    font-size: 12px;
}

