.links-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.link-block {
    width: 30%;
    margin-bottom: 15px;
}

.title {
    margin: 0;
    padding: 20px 0;
    font-weight: bold;
    /*text-decoration: none;*/
    color: black;
}

.link {
    color: black;
    font-size: 12px;
}

