.button {
    padding: 10px;
    background-color: #4444be;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #2e2e80;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
