.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #100f0f;
    color: white;
    padding: 10px;
}

.topbar-text {
    font-size: 18px;
}

.topbar-username {
    font-size: 14px;
}

.topbar-button {
    margin-left: 10px;
}
