.new-feed-form {
    width: 200px;
    max-width: 100%;
    position: fixed;
    top: 20%;
    right: 10px;
    background-color: lightblue;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    font-family: "Poppins", sans-serif;
}

.new-feed-form p {
    text-align: center;
    margin: 0;
    padding: 10px 0;
    font-weight: bold;
    color: white;
}

.new-feed-form form {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
}

.new-feed-btn {
    width: 100%;
}

